[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-session = "*"
pymongo = "*"
flask-heroku = "*"
flask-marshmallow = "*"
future = "*"
gunicorn = "*"
"psycopg2-binary" = "*"
Flask-SQLAlchemy = "*"
"Jinja2" = "*"
SQLAlchemy = "*"
Werkzeug = "*"
jsonpickle = "*"
marshmallow = "*"

[dev-packages]

[requires]
python_version = "3.6"
